* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(70, 66, 66);
}

a {
    text-decoration: none;
    color: blue;
}

.container {
    max-width: 1300px;
}

.header {
    height: 75px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.leftSide {
    position: relative;
    overflow-y:auto;
    height: 70vh;
}

.leftSide::-webkit-scrollbar {
  display: none;
}

.rightSide {

}

.title {
    color: rgb(151, 140, 140);
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.title:hover {
    color: white;
}

#detailTab {
    position: relative;
    width: 95%;
    background-color: rgb(155, 145, 145);
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    padding-left: 15px;
}


.line {
    margin-bottom: 15px;
}

.items {
    display: inline-block;
    padding-right: 50px;
}

.display {
    display: none;
}


@keyframes grow {
  from {height: 0}
  to {height: 310px; padding-top: 15px;}
}

@keyframes shrink {
  from {height: 310px}
  to {height: 0; padding-top: 0;}
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}







